<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Release: the launcher shows the icon aliases, one per action colour,
         so MainActivity's own launcher filter goes (see
         src/main/AndroidManifest.xml). Development builds do the opposite. -->
    <application>
        <activity android:name=".MainActivity">
            <intent-filter tools:node="remove">
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
